<script type="text/javascript" language="javascript">
  function ajaxify2(element_id) {
    $(element_id)
      .bind('ajax:beforeSend', on_ajax_before_send2)
      .bind('ajax:complete', on_ajax_complete2)
      .bind('ajax:success', on_ajax_success2)
      .bind('ajax:error', on_ajax_error2);
  }
  function on_ajax_before_send2(evt, xhr, settings) {
    $('#loader').show();
  }
  function on_ajax_complete2(evt, xhr, status) {
    $('#loader').hide();
  }
  function on_ajax_success2(evt, data, status, xhr) {
    $('#loader').hide();
    alert(data.result);
  }
  function on_ajax_error2(evt, xhr, status, error) {
    $('#loader').hide();
    alert($.parseJSON(xhr.responseText).message);
  }
  $(function() { ajaxify2('#jp_tester_form'); });
</script>
<div style="text-align:left; padding:0px 15px 0px 15px;">
<div style="color:blue;">
<p>Introduce los datos de entrada</p>
</div>
<div>
<%= form_tag jp_tester_path, :remote => true, :'data-type' => 'json', :id => 'jp_tester_form' do %>
  <div><%= text_area_tag :jp_data, params[:jp_data], :size => '85x24' %></div>
  <div style="padding-top:10px;"><%= submit_tag "Ejecutar" %></div>
<% end %>
</div>
</div>
</div>