<script type="text/javascript" language="javascript">$(function() { ajaxify('#tren_alm_noc'); ajaxify('#escribe_llegada'); ajaxify('#llena_coch'); adjust_overflow(); });</script>
<div style="text-align:left; padding:0px 15px 0px 15px;">
<pre><span class="comment">/** @brief Realiza el almacenamiento nocturno de trenes en el conjunto proporcionado.
 *  Se informara de los trenes y sus respectivas horas de salida por el canal estandar de entrada.
 *  \pre cierto
 *  \post Las cocheras contienen los vagones de los trenes indicados.
 */</span><span class="type">
void</span> Cjt_Cocheras<span class="operator">::</span>almacenamiento_nocturno<span class="operator">(</span><span class="keyword">const</span> Red<span class="operator"> &amp;</span>red<span class="operator">,</span> Cjt_Trenes<span class="operator"> &amp;</span>trenes<span class="operator">) {</span>
  list<span class="operator">&lt;</span>Tren<span class="operator">&gt;</span> trenes_almacenamiento<span class="operator"> =</span> <%= link_to('get_trenes_almacenamiento_nocturno', practica_pro2_path(:r => 'tren_alm_noc'), remote: true, id: 'tren_alm_noc', :'data-type' => :json) %><span class="operator">(</span>red<span class="operator">,</span> trenes<span class="operator">);</span>
  <%= link_to('escribir_llegadas', practica_pro2_path(:r => 'escribe_llegada'), remote: true, id: 'escribe_llegada', :'data-type' => :json) %><span class="operator">(</span>trenes_almacenamiento<span class="operator">);</span>
  <%= link_to('rellena_cocheras', practica_pro2_path(:r => 'llena_coch'), remote: true, id: 'llena_coch', :'data-type' => :json) %><span class="operator">(</span>trenes_almacenamiento<span class="operator">);
}</span></pre>
</div>