<script type="text/javascript" language="javascript">$(function() { adjust_overflow(); });</script>
<div style="text-align:left; padding:0px 15px 0px 15px;">
<pre><span class="comment">/** @brief Anade los vagones a la via muerta. La via auxiliar queda vacia.
 *  \pre cierto
 *  \post Los vagones estan en la via muerta, y la auxiliar esta vacia.
 */</span><span class="type">
void</span> Cochera<span class="operator">::</span>anadir_vagones<span class="operator">(</span>stack<span class="operator">&lt;</span><span class="type">int</span><span class="operator">&gt; &amp;</span>via_auxiliar<span class="operator">) {</span><span class="flow">
  while</span><span class="operator"> (</span><span class="operator">not</span> via_auxiliar<span class="operator">.</span>empty<span class="operator">()) {</span>
    _via_muerta<span class="operator">.</span>push<span class="operator">(</span>via_auxiliar<span class="operator">.</span>top<span class="operator">());</span>
    via_auxiliar<span class="operator">.</span>pop<span class="operator">();
  }
}</span></pre>
</div>