<script type="text/javascript" language="javascript">$(function() { adjust_overflow(); });</script>
<div style="text-align:left; padding:0px 15px 0px 15px;">
<pre><span class="comment">/** @brief Pone un movimiento nuevo en la lista.
 *  \pre cierto
 *  \post El movimiento se ha anadido.
 */</span><span class="type">
void</span> Movimientos<span class="operator">::</span>anade_movimiento<span class="operator">(</span><span class="keyword">const</span> pair<span class="operator">&lt;</span><span class="type">int</span><span class="operator">,</span><span class="type"> int</span><span class="operator">&gt; &amp;</span>movimiento<span class="operator">) {</span>
  _movimientos<span class="operator">.</span>insert<span class="operator">(</span>_movimientos<span class="operator">.</span>end<span class="operator">(),</span> movimiento<span class="operator">);
}</span></pre>
</div>