<script type="text/javascript" language="javascript">$(function() { adjust_overflow(); });</script>
<div style="text-align:left; padding:0px 15px 0px 15px;">
<pre><span class="comment">/** @brief Anade los vagones a la via muerta.
  *  \pre cierto
  *  \post Los vagones estan en la via muerta.
  */</span><span class="type">
void</span> Cochera<span class="operator">::</span>anadir_vagones<span class="operator">(</span><span class="keyword">const</span> vector<span class="operator">&lt;</span><span class="type">int</span><span class="operator">&gt; &amp;</span>vagones<span class="operator">) {</span><span class="flow">
  for</span><span class="operator"> (</span><span class="type">int</span> i<span class="operator"> =</span><span class="int"> 0</span><span class="operator">;</span> i<span class="operator"> &lt;</span> vagones<span class="operator">.</span>size<span class="operator">();</span> i<span class="operator">++)</span>
    _via_muerta<span class="operator">.</span>push<span class="operator">(</span>vagones<span class="operator">[</span>i<span class="operator">]);
}</span></pre>
</div>