<script type="text/javascript" language="javascript">$(function() { adjust_overflow(); });</script>
<div style="text-align:left; padding:0px 15px 0px 15px;">
<pre><span class="comment">/** @brief Creadora
 *  M es el numero de cocheras.
 *  \pre M &gt; 0
 *  \post El resultado es un conjunto de M cocheras.
 */</span>
Cjt_Cocheras<span class="operator">::</span>Cjt_Cocheras<span class="operator">(</span><span class="type">int</span> M<span class="operator">) {</span>
  _cocheras<span class="operator"> =</span> vector<span class="operator">&lt;</span>Cochera<span class="operator">&gt;(</span>M<span class="operator">);</span>
  _prioridades<span class="operator"> =</span> vector<span class="operator">&lt;</span><span class="type">int</span><span class="operator">&gt;(</span>M<span class="operator">);
}</span></pre>
</div>