<script type="text/javascript" language="javascript">$(function() { adjust_overflow(); });</script>
<div style="text-align:left; padding:0px 15px 0px 15px;">
<pre><span class="comment">/** @brief Creadora por defecto.
 *  \pre cierto
 *  \post El resultado es un conjunto de trenes vacio.
 */</span>
Cjt_Trenes<span class="operator">::</span>Cjt_Trenes<span class="operator">() {
}</span></pre>
</div>