<script type="text/javascript" language="javascript">$(document).ready(function() { ajaxify('#escribe_coch'); adjust_overflow(); });</script>
<div style="text-align:left; padding:0px 15px 0px 15px;">
<pre><span class="comment">/** @brief Escritura de las cocheras.
 *  \pre cierto
 *  \post Los datos de las cocheras se han escrito en el canal estandar de salida.
 */</span><span class="type">
void</span> Cjt_Cocheras<span class="operator">::</span>escribir_cocheras<span class="operator">() {</span>
  cout<span class="operator"> &lt;&lt;</span><span class="string"> "Cocheras"</span><span class="operator"> &lt;&lt;</span> endl<span class="operator">;</span><span class="flow">
  for</span><span class="operator"> (</span><span class="type">int</span> i<span class="operator"> =</span><span class="int"> 0</span><span class="operator">;</span> i<span class="operator"> &lt;</span> _cocheras<span class="operator">.</span>size<span class="operator">();</span> i<span class="operator">++) {</span>
    cout<span class="operator"> &lt;&lt; (</span>i<span class="operator"> +</span><span class="int"> 1</span><span class="operator">) &lt;&lt;</span><span class="string"> " : "</span><span class="operator">;</span>
    _cocheras<span class="operator">[</span>i<span class="operator">].</span><%= link_to('escribir_cochera', practica_pro2_path(:r => 'escribe_coch'), remote: true, id: 'escribe_coch', :'data-type' => :json) %><span class="operator">();</span>
    cout<span class="operator"> &lt;&lt;</span> endl<span class="operator">;
  }</span>
  cout<span class="operator"> &lt;&lt;</span> endl<span class="operator">;
}</span></pre>
</div>