<script type="text/javascript" language="javascript">$(function() { adjust_overflow(); });</script>
<div style="text-align:left; padding:0px 15px 0px 15px;">
<pre><span class="comment">/** @brief Escribe los movimientos en el canal estandar de salida.
 *  \pre cierto
 *  \post Se escriben los movimientos.
 */</span><span class="type">
void</span> Movimientos<span class="operator">::</span>escribir_movimientos<span class="operator">()</span><span class="keyword"> const</span><span class="operator"> {</span>
  cout<span class="operator"> &lt;&lt;</span> _id_cochera<span class="operator"> &lt;&lt;</span><span class="string"> " : "</span><span class="operator">;</span><span class="flow">
  for</span><span class="operator"> (</span>list<span class="operator">&lt;</span>pair<span class="operator">&lt;</span><span class="type">int</span><span class="operator">,</span><span class="type"> int</span><span class="operator">&gt; &gt;::</span>const_iterator it<span class="operator"> =</span> _movimientos<span class="operator">.</span>begin<span class="operator">();</span> it<span class="operator"> !=</span> _movimientos<span class="operator">.</span>end<span class="operator">(); ++</span>it<span class="operator">)</span>
    cout<span class="operator"> &lt;&lt; (*</span>it<span class="operator">).</span>first<span class="operator"> &lt;&lt;</span><span class="char"> ' '</span><span class="operator"> &lt;&lt; (*</span>it<span class="operator">).</span>second<span class="operator"> &lt;&lt;</span><span class="string"> "  "</span><span class="operator">;
}</span></pre>
</div>