<script type="text/javascript" language="javascript">$(function() { ajaxify('#tren_for_mat'); ajaxify('#vacia_coch'); adjust_overflow(); });</script>
<div style="text-align:left; padding:0px 15px 0px 15px;">
<pre><span class="comment">/** @brief Realiza la formacion matinal de trenes pertenecientes al conjunto proporcionado que salen un dia.
 *  Se informara de que trenes salen por el canal estandar de entrada.
 *  \pre Las cocheras se han llenado en una almacenamiento nocturno.
 *  \post Se han formado los trenes indicados con los vagones de las cocheras.
 */</span><span class="type">
void</span> Cjt_Cocheras<span class="operator">::</span>formacion_matinal<span class="operator">(</span>Cjt_Trenes<span class="operator"> &amp;</span>trenes<span class="operator">) {</span>
  list<span class="operator">&lt;</span>Tren<span class="operator">&gt;</span> trenes_formacion<span class="operator"> =</span> <%= link_to('get_trenes_formacion_matinal', practica_pro2_path(:r => 'tren_for_mat'), remote: true, id: 'tren_for_mat', :'data-type' => :json) %><span class="operator">(</span>trenes<span class="operator">);</span>
  <%= link_to('vacia_cocheras', practica_pro2_path(:r => 'vacia_coch'), remote: true, id: 'vacia_coch', :'data-type' => :json) %><span class="operator">(</span>trenes_formacion<span class="operator">);
}</span></pre>
</div>