<script type="text/javascript" language="javascript">$(function() { adjust_overflow(); });</script>
<div style="text-align:left; padding:0px 15px 0px 15px;">
<pre><span class="comment">/** @brief Devuelve los vagones del tren.
 *  \pre cierto
 *  \post Retorna un vector de vagones.
 */</span>
vector<span class="operator">&lt;</span><span class="type">int</span><span class="operator">&gt;</span> Tren<span class="operator">::</span>get_vagones<span class="operator">()</span><span class="keyword"> const</span><span class="operator"> {</span><span class="flow">
  return</span> _vagones<span class="operator">;
}</span></pre>
</div>