<script type="text/javascript" language="javascript">$(function() { adjust_overflow(); });</script>
<div style="text-align:left; padding:0px 15px 0px 15px;">
<pre><span class="comment">/** @brief Devuelve el tiempo que hay entre la estacion con id 'id_estacion' y la estacion central.
 *  \pre id_estacion pertenece a una estacion valida.
 *  \post Retorna el tiempo entre la estacion indicada y su padre
 */</span><span class="type">
int</span> Red<span class="operator">::</span>get_tiempo_estacion<span class="operator">(</span><span class="type">int</span> id_estacion<span class="operator">)</span><span class="keyword"> const</span><span class="operator"> {</span><span class="flow">
  return</span> _estaciones<span class="operator">[</span>id_estacion<span class="operator">];
}</span></pre>
</div>