<script type="text/javascript" language="javascript">$(function() { adjust_overflow(); });</script>
<div style="text-align:left; padding:0px 15px 0px 15px;">
<pre><span class="comment">/** @brief Devuelve el tiempo que tarda el tren en completar su ultimo viaje.
 *  \pre cierto
 *  \post Retorna el tiempo del recorrido.
 */</span><span class="type">
int</span> Tren<span class="operator">::</span>get_tiempo_recorrido<span class="operator">()</span><span class="keyword"> const</span><span class="operator"> {</span><span class="flow">
  return</span> _tiempo_recorrido<span class="operator">;
}</span></pre>
</div>