<script type="text/javascript" language="javascript">$(function() { adjust_overflow(); });</script>
<div style="text-align:left; padding:0px 15px 0px 15px;">
<pre><span class="comment">/** @brief Devuelve cuantos huecos quedan en la via muerta.
 *  \pre cierto
 *  \post Retorna la capacidad.
 */</span><span class="type">
int</span> Cochera<span class="operator">::</span>get_espacios_libres<span class="operator">()</span><span class="keyword"> const</span><span class="operator"> {</span><span class="flow">
  return</span> _capacidad<span class="operator"> -</span> _via_muerta<span class="operator">.</span>size<span class="operator">();
}</span></pre>
</div>