<script type="text/javascript" language="javascript">$(function() { ajaxify('#leer_red_rec'); adjust_overflow(); });</script>
<div style="text-align:left; padding:0px 15px 0px 15px;">
<pre><span class="comment">/** @brief Se leen los datos de las etaciones de la red del canal estandar de entrada.
 *  \pre cierto
 *  \post Los datos del parametro implicito son los leidos de la entrada
 */</span><span class="type">
void</span> Red<span class="operator">::</span>leer_red<span class="operator">() {</span><span class="type">
  int</span> n<span class="operator"> =</span> readint<span class="operator">();</span><span class="type">
  int</span> num_estaciones<span class="operator"> = (</span><span class="int">1</span><span class="operator"> &lt;&lt;</span> n<span class="operator">) -</span><span class="int"> 1</span><span class="operator">;</span><span class="comment">  // por definicion
</span>  _estaciones<span class="operator"> =</span> vector<span class="operator">&lt;</span><span class="type">int</span><span class="operator">&gt;(</span>num_estaciones<span class="operator">);</span>
  <%= link_to('leer_red_recursivo', practica_pro2_path(:r => 'leer_red_rec'), remote: true, id: 'leer_red_rec', :'data-type' => :json) %><span class="operator">(</span>_estaciones<span class="operator">,</span><span class="int"> 0</span><span class="operator">,</span><span class="int"> 0</span><span class="operator">);
}</span></pre>
</div>