<script type="text/javascript" language="javascript">$(function() { ajaxify('#leer_tren'); ajaxify('#set_tren'); adjust_overflow(); });</script>
<div style="text-align:left; padding:0px 15px 0px 15px;">
<pre><span class="comment">/** @brief Se leen los datos de un tren del canal estandar de entrada, y se anade al conjunto  
 *  si en este no hay otro tren con el mismo 'id'; si lo hay, se machacan sus datos.
 *  \pre cierto
 *  \post El tren descrito forma parte del conjunto.
 */</span><span class="type">
void</span> Cjt_Trenes<span class="operator">::</span>leer_tren<span class="operator">() {</span>
  Tren tren<span class="operator">;</span>
  tren<span class="operator">.</span><%= link_to('leer_tren', practica_pro2_path(:r => 'leer_tren'), remote: true, id: 'leer_tren', :'data-type' => :json) %><span class="operator">();</span>
  <%= link_to('set_tren', practica_pro2_path(:r => 'set_tren'), remote: true, id: 'set_tren', :'data-type' => :json) %><span class="operator">(</span>tren<span class="operator">);
}</span></pre>
</div>