<script type="text/javascript" language="javascript">$(function() { adjust_overflow(); });</script>
<div style="text-align:left; padding:0px 15px 0px 15px;">
<pre><span class="comment">/** @brief Se leen los datos del tren del canal estandar de entrada.
 *  \pre cierto
 *  \post Los datos del parametro implicito son los leidos de la entrada.
 */</span><span class="type">
void</span> Tren<span class="operator">::</span>leer_tren<span class="operator">() {</span>
  _id<span class="operator"> =</span> readint<span class="operator">();</span><span class="type">
  int</span> num_vagones<span class="operator"> =</span> readint<span class="operator">();</span>
  _vagones<span class="operator"> =</span> vector<span class="operator">&lt;</span><span class="type">int</span><span class="operator">&gt;(</span>num_vagones<span class="operator">);</span><span class="flow">
  for</span><span class="operator"> (</span><span class="type">int</span> i<span class="operator"> =</span><span class="int"> 0</span><span class="operator">;</span> i<span class="operator"> &lt;</span> num_vagones<span class="operator">;</span> i<span class="operator">++)</span>
    _vagones<span class="operator">[</span>i<span class="operator">] =</span> readint<span class="operator">();
}</span></pre>
</div>