<script type="text/javascript" language="javascript">$(function() { adjust_overflow(); });</script>
<div style="text-align:left; padding:0px 15px 0px 15px;">
<pre><span class="comment">/** @brief Creadora que acepta el id de la cochera.
 *  \pre cierto
 *  \post El resultado son los movimientos de la cochera indicada.
 */</span>
Movimientos<span class="operator">::</span>Movimientos<span class="operator">(</span><span class="type">int</span> id_cochera<span class="operator">) {</span>
  _id_cochera<span class="operator"> =</span> id_cochera<span class="operator">;
}</span></pre>
</div>