<script type="text/javascript" language="javascript">$(document).ready(function() { ajaxify('#anade_mov'); ajaxify('#mov_via_via'); adjust_overflow(); });</script>
<div style="text-align:left; padding:0px 15px 0px 15px;">
<pre><span class="comment">
/** @brief Mueve vagones desde la via muerta hasta la auxiliar, hasta encontrar 'vagon' en la via muerta.
 *  Ademas, almacena los movimientos realizados en 'movimientos'.
 *  \pre cierto
 *  \post La via auxiliar tiene los vagones que habia en la muerta hasta 'vagon'.
 */</span><span class="type">
void</span> Cochera<span class="operator">::</span>mueve_desde_via_muerta<span class="operator">(</span><span class="type">int</span> vagon<span class="operator">,</span> stack<span class="operator">&lt;</span><span class="type">int</span><span class="operator">&gt; &amp;</span>via_auxiliar<span class="operator">,</span> Movimientos<span class="operator"> &amp;</span>movimientos<span class="operator">) {</span>
  <%= link_to('mueve_de_via_a_via', practica_pro2_path(:r => 'mov_via_via'), remote: true, id: 'mov_via_via', :'data-type' => :json) %><span class="operator">(</span>vagon<span class="operator">,</span> _via_muerta<span class="operator">,</span> via_auxiliar<span class="operator">,</span><span class="int"> 2</span><span class="operator">,</span> movimientos<span class="operator">);</span>
  movimientos<span class="operator">.</span><%= link_to('anade_movimiento', practica_pro2_path(:r => 'anade_mov'), remote: true, id: 'anade_mov', :'data-type' => :json) %><span class="operator">(</span>make_pair<span class="operator">(</span><span class="int">1</span><span class="operator">,</span> _via_muerta<span class="operator">.</span>top<span class="operator">()));</span>
  _via_muerta<span class="operator">.</span>pop<span class="operator">();
}</span></pre>
</div>