<script type="text/javascript" language="javascript">$(function() { ajaxify('#anade_mov'); adjust_overflow(); });</script>
<div style="text-align:left; padding:0px 15px 0px 15px;">
<pre><span class="comment">/** @brief Mueve vagones desde la via1 hasta la via2, hasta encontrar 'vagon' en la via1.
 *  Ademas, almacena los movimientos realizados en 'movimientos' como movimientos de tipo 'tipo_movimiento'.
 *  \pre cierto
 *  \post La via auxiliar tiene los vagones que habia en la muerta hasta 'vagon'.
 */</span><span class="type">
void</span> Cochera<span class="operator">::</span>mueve_de_via_a_via<span class="operator">(</span><span class="type">int</span> vagon<span class="operator">,</span> stack<span class="operator">&lt;</span><span class="type">int</span><span class="operator">&gt; &amp;</span>via1<span class="operator">,</span> stack<span class="operator">&lt;</span><span class="type">int</span><span class="operator">&gt; &amp;</span>via2<span class="operator">,</span><span class="type"> int</span> tipo_movimiento<span class="operator">,</span> Movimientos<span class="operator"> &amp;</span>movimientos<span class="operator">) {</span><span class="type">
  int</span> top<span class="operator"> =</span> via1<span class="operator">.</span>top<span class="operator">();</span><span class="flow">
  while</span><span class="operator"> (</span>top<span class="operator"> !=</span> vagon<span class="operator">) {</span>
    via1<span class="operator">.</span>pop<span class="operator">();</span>
    via2<span class="operator">.</span>push<span class="operator">(</span>top<span class="operator">);</span>
    movimientos<span class="operator">.</span><%= link_to('anade_movimiento', practica_pro2_path(:r => 'anade_mov'), remote: true, id: 'anade_mov', :'data-type' => :json) %><span class="operator">(</span>make_pair<span class="operator">(</span>tipo_movimiento<span class="operator">,</span> top<span class="operator">));</span>
    top<span class="operator"> =</span> via1<span class="operator">.</span>top<span class="operator">();
  }
}</span></pre>
</div>