<script type="text/javascript" language="javascript">$(function() { adjust_overflow(); });</script>
<div style="text-align:left; padding:0px 15px 0px 15px;">
<pre><span class="comment">/** @brief Establece la hora de salida del ultimo tren.
 *  \pre cierto
 *  \post La hora de salida es 'hora_salida'.
 */</span><span class="type">
void</span> Tren<span class="operator">::</span>set_hora_salida<span class="operator">(</span><span class="type">int</span> hora_salida<span class="operator">) {</span>
  _hora_salida<span class="operator"> =</span> hora_salida<span class="operator">;
}</span></pre>
</div>