<div class="sidebar_box" style="height:55px;">
  <div style="float:left; padding-right:15px;"><%= link_to image_tag('feedicon.gif'), feed_path %></div>
  <div style="float:left;"><g:plusone></g:plusone></div>
  <div style="float:left; padding:2px 0px 2px 0px;;">
  <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
  <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
  </div>
  <div class="fb-like" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" style="float:left; padding-top:7px;"></div>
</div>