<div class="sidebar_box">
<div>
  <span>moleculardensity.net</span>
  <hr/>
  <div class="sidebar_subbox">
  <div class="nav_element"><%= link_to "Blog's latest posts", posts_path %></div>
  <div class="nav_element"><%= link_to 'Buddhabrot', buddha_article_path(1) %></div>
  <div class="nav_element"><%= link_to 'About me', about_path %></div>
  </div>
</div>
</div>