<div class="sidebar_box">
<div>
  <span>Blog search:</span>
  <hr/>
  <div class="sidebar_subbox" style="margin-bottom:5px;">
  <%= form_tag search_path, :method => 'get' do %>
    <%= search_field_tag :search, params[:search], :style => "width:220px;" %>
    <%= image_submit_tag "mg.png" %>
  <% end %>
  </div>
</div>
</div>