<% content_for :head do %>
  <title>Molecular density</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
<% end %>
<% content_for :body do %>
  <script type="text/javascript">
    <!--
    $(document).ready(function() { 
      esse = 'ai'; a = '@'; b = 'albertlobo1981'; c = b + a + 'g' + 'm' + esse + 'l.com';
      $('#hahaha').html('<a href="m' + esse + 'lto:' + c + '">' + c + '</a>');
    });
  	-->
  </script>
  <div style="width:1000px; height;600px; margin:10px auto 10px auto; text-align:center;">
  <div style="border-color:black; border-width:1px; boder-style:solid; padding-top:100px;">
  <p><%= image_tag 'about.jpg' %></p>
  <p>moleculardensity is Albert Lobo's personal website</p>
  <p>Albert Lobo is currently studying computer science in UPC Barcelona</p>
  <p>He spends his free time trying out different programming technologies, playing Dead Space 2 on PSN and having beer with friends</p>
  <p>He also has a couple of youtube channels, <a href="http://www.youtube.com/user/albertlobo1981" target="_blank">albertlobo1981</a> and <a href="http://www.youtube.com/user/LlopPlayer" target="_blank">LlopPlayer</a></p>
  <p>If you have comments or suggestions you can write to <span id="hahaha"/></p>
  </div>
  </div>
<% end %>
