<% content_for :head do %>
  <title>Molecular density</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
<% end %>
<% content_for :body do %>
<div style="text-align:center;">
<div style="height:400px; background-image:url(<%= asset_path 'main.jpg' %>); background-position:center; background-repeat:no-repeat;"></div>
<div style="padding-top:20px;">molecular density is the ratio between the mass of one mole of a substance and its volume</div>
<div style="padding-top:20px;">
<%= link_to posts_path do %>
  <div class="black_border" style="width:100px; margin-left:auto; margin-right:auto; padding:5px 15px 5px 15px;">blog</div>
<% end %>
</div>
</div>
<% end %>
