<h3>moleculardensity crashed</h3>
<p>This is the backtrace:</p>
<p>
<span style="padding-bottom:4px;"><%= @exception.message %></span><br/>
<%= raw @exception.backtrace.join('<br/>') %>  
</p>
<p>Check out the logs for additional data.</p>