<div style="padding:0px 15px 5px 15px; font-size:1em; color:#555555;">
<span>Edit a post</span>
<div style="float:right; padding-right:5px;"><%= link_to "View", post_path(@post.id), :target => '_blank', :style => "color:#00AA00;" %></div>
<hr style="margin-bottom:0px;"/>
</div>
<%= render :partial => 'post_form' %> 