<div style="padding:0px 15px 5px 15px; font-size:1em; color:#555555;">
<span>Posts tagged as <%= @tag.name.downcase %></span>
<hr style="margin-bottom:0px;"/>
</div>
<%= render 'posts/paginated_collection' %>
