<div style="padding:0px 15px 5px 15px; font-size:1em; color:#555555;">
<span>Posted on <%= I18n.translate('date.month_names')[params[:month].to_i] %>, <%= params[:year] %></span>
<hr style="margin-bottom:0px;"/>
</div>
<%= render 'posts/paginated_collection' %>
