<div style="padding:20px; height:300px;">
<div style="padding:10px 5px 15px 5px;"><b>Proyectos</b></div>
<div><%= link_to 'Red Ferroviaria (Practica PRO2 QT 2010-2011)', prac_pro2_path %></div>
</div>