<script type="text/javascript" language="javascript">$(function() { ajaxify('#codigo'); adjust_overflow(); });</script>
<div style="padding:10px 5px 15px 5px;"><b>Practica PRO2</b></div>
<div>
<div style="padding:3px;"><span><a href="http://php5.lsi.upc.edu/pro2/data/uploads/enun.txt" target="_blank">Enunciado</a></span></div>
<div style="padding:3px;"><span><a href="http://php5.lsi.upc.edu/pro2/data/uploads/jpinfo.txt" target="_blank">Juego de pruebas</a></span></div>
<div style="padding:3px;"><span>Codigo <span style="color:red;">(No disponible hasta fecha de entrega)</span></span></div>
<div style="padding:3px;"><span><%= link_to 'Ejecuta tu juego de prubas!', practica_pro2_path(:r => 'jp_tester'), remote: true, id: 'codigo', :'data-type' => :json %></span></div>
</div>