<script type="text/javascript" language="javascript">$(function() { ajaxify('#prac_pro2'); adjust_overflow(); });</script>
<div style="padding:10px 5px 15px 5px;"><b>Proyectos</b></div>
<div><%= link_to 'Practica programacion 2', proyecto_path(:r => 'prac_pro2'), remote: true, id: 'prac_pro2', :'data-type' => :json %></div>