<% content_for :head do %>
  <title>moleculardensity error</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
<% end %>
<% content_for :body do %>
  <div id="body_wrapper">
    <div style="width:1000px; float:left;">
	    <div style="margin-left:auto; margin-right:auto; text-align:center;">
	      <%= yield %>
      </div>
    </div>
  </div>
<% end %>
<%= render :template => 'layouts/application' %>
